@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<img src="~/Website_Images/DinoDinerLogo.png" />
<a asp-page="/Privacy"><h2>Privacy Page</h2></a>
<a asp-page="/About"><h2>About Page</h2></a>
<a asp-page="/Menu"><h2>Menu Page</h2></a>